[Desktop Entry]
Comment=A window decoration to compliment the Ghost theme for Plasma
Name=Ghost-Deco
X-KDE-PluginInfo-Author=J.M.Todaro
X-KDE-PluginInfo-Email=jmtodaro@gmail.com
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Version=2.3 dev
X-KDE-PluginInfo-Website=https://github.com/jmtodaro/Ghost-Deco/
